TestGiesecke/Service References/ServiceReference1/CreoWebServiceDefService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WebService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CreoWebServiceDefService" targetNamespace="http://WebService/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://127.0.0.1:8023/ShapeWebService?xsd=1" namespace="http://WebService/" />
    </xsd:schema>
  </types>
  <message name="getParameters">
    <part name="parameters" element="tns:getParameters" />
  </message>
  <message name="getParametersResponse">
    <part name="parameters" element="tns:getParametersResponse" />
  </message>
  <message name="displayMessage">
    <part name="parameters" element="tns:displayMessage" />
  </message>
  <message name="displayMessageResponse">
    <part name="parameters" element="tns:displayMessageResponse" />
  </message>
  <message name="displayWarning">
    <part name="parameters" element="tns:displayWarning" />
  </message>
  <message name="displayWarningResponse">
    <part name="parameters" element="tns:displayWarningResponse" />
  </message>
  <portType name="CreoWebServiceDef">
    <operation name="getParameters">
      <input wsam:Action="http://WebService/CreoWebServiceDef/getParametersRequest" message="tns:getParameters" />
      <output wsam:Action="http://WebService/CreoWebServiceDef/getParametersResponse" message="tns:getParametersResponse" />
    </operation>
    <operation name="displayMessage">
      <input wsam:Action="http://WebService/CreoWebServiceDef/displayMessageRequest" message="tns:displayMessage" />
      <output wsam:Action="http://WebService/CreoWebServiceDef/displayMessageResponse" message="tns:displayMessageResponse" />
    </operation>
    <operation name="displayWarning">
      <input wsam:Action="http://WebService/CreoWebServiceDef/displayWarningRequest" message="tns:displayWarning" />
      <output wsam:Action="http://WebService/CreoWebServiceDef/displayWarningResponse" message="tns:displayWarningResponse" />
    </operation>
  </portType>
  <binding name="CreoWebServiceDefPortBinding" type="tns:CreoWebServiceDef">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getParameters">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="displayMessage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="displayWarning">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CreoWebServiceDefService">
    <port name="CreoWebServiceDefPort" binding="tns:CreoWebServiceDefPortBinding">
      <soap:address location="http://127.0.0.1:8023/ShapeWebService" />
    </port>
  </service>
</definitions>