TestGiesecke/Service References/ServiceReference1/TransformerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/test_accessories___selectionh" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/test_accessories___selectionh" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59392/TransformerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CoverAccessory">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="acceptedProvisionCodes" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="coverProvision" nillable="true" type="tns:CoverProvision" />
      <xs:element minOccurs="0" name="defaultProvision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="distanceToEdge" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="picture" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="testArray" nillable="true" type="q2:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoverAccessory" nillable="true" type="tns:CoverAccessory" />
  <xs:complexType name="CoverProvision">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoverProvision" nillable="true" type="tns:CoverProvision" />
  <xs:complexType name="ArrayOfCoverAccessory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CoverAccessory" nillable="true" type="tns:CoverAccessory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoverAccessory" nillable="true" type="tns:ArrayOfCoverAccessory" />
  <xs:complexType name="ArrayOfCableBox">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CableBox" nillable="true" type="tns:CableBox" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCableBox" nillable="true" type="tns:ArrayOfCableBox" />
  <xs:complexType name="CableBox">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessPlate" nillable="true" type="tns:CableBoxItem" />
      <xs:element minOccurs="0" name="airVent" nillable="true" type="tns:CableBoxItem" />
      <xs:element minOccurs="0" name="airVentCount" type="xs:int" />
      <xs:element minOccurs="0" name="cableBoxCabin" nillable="true" type="tns:CableBoxItem" />
      <xs:element minOccurs="0" name="cableBoxProvision" nillable="true" type="tns:CableBoxItem" />
      <xs:element minOccurs="0" name="cableEntryCount" type="xs:int" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="color" nillable="true" type="tns:CableBoxItem" />
      <xs:element minOccurs="0" name="connectionBar" nillable="true" type="tns:CableBoxItem" />
      <xs:element minOccurs="0" name="connectionBarCount" type="xs:int" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="drawing" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="finish" nillable="true" type="tns:CableBoxItem" />
      <xs:element minOccurs="0" name="glantPlate" nillable="true" type="tns:CableBoxItem" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="insulator" nillable="true" type="tns:CableBoxItem" />
      <xs:element minOccurs="0" name="insulatorLProfile" nillable="true" type="tns:CableBoxItem" />
      <xs:element minOccurs="0" name="picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="supportingPlate" nillable="true" type="tns:CableBoxItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CableBox" nillable="true" type="tns:CableBox" />
  <xs:complexType name="CableBoxItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="InsulatorFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="airVentFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cabinFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="connectionBarFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="drawing" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="glantPlateFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="insulatorLProfileFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provisionFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="supportingPlateFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CableBoxItem" nillable="true" type="tns:CableBoxItem" />
</xs:schema>