TestGiesecke/Service References/ServiceReference1/TransformerService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestGiesecke" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestGiesecke" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59392/TransformerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/test_accessories___selectionh" />
  <xs:complexType name="CoverClass">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/test_accessories___selectionh" minOccurs="0" name="accessoryList" nillable="true" type="q1:ArrayOfCoverAccessory" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/test_accessories___selectionh" minOccurs="0" name="cableboxList" nillable="true" type="q2:ArrayOfCableBox" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoverClass" nillable="true" type="tns:CoverClass" />
</xs:schema>